<div class="custom-primary tool-menu">

    <!-- <button mat-flat-button>
        <mat-icon inline>search</mat-icon>
    </button> -->
    <span style="flex:1;"></span>
    <button mat-flat-button (click)="openFilterSheet()">
        <span style="color:white; font-weight: 200;">APPLY FILTERS</span>
        <mat-icon inline>filter_alt</mat-icon>
    </button>

</div>

<div class="bg-container">

    <mat-card class="custom-card" *ngFor="let item of dataList"
        [ngStyle]="{'background-color':getBgColor(item.upvote,item.downvote)}" (click)="editEntry(item)">
        <h2> <strong> {{item.hospitalName}}</strong></h2>
        <h5>{{item.city}}, {{item.state}}</h5>
        <p class="nil-margin"><b>{{item.beds}}</b> Beds Available</p>
        <p class="nil-margin"><b>Last Updated:</b> {{item.date}} at {{item.time}}</p>
        <div style="display:flex;">
            <div #upvote id="upvote" matRipple [matRippleUnbounded]="true" [matRippleRadius]="30"
                [matRippleCentered]="true" [matRippleColor]="'#0080004a'"
                (click)="upVote(item.id);$event.stopPropagation()">
                <mat-icon inline="true" class="up-vote">forward</mat-icon>
                <span>{{item.upvote}}</span>
            </div>
            <span style="flex:.1"></span>
            <div #downvote id="downvote" matRipple [matRippleUnbounded]="true" [matRippleRadius]="30"
                [matRippleCentered]="true" [matRippleColor]="'#ff00007d'"
                (click)="downVote(item.id);$event.stopPropagation()">
                <mat-icon inline="true" class="down-vote">forward</mat-icon>
                <span>{{item.downvote}}</span>
            </div>
            <span style="flex:1"></span>
        </div>
    </mat-card>

</div>

<!-- Floating button -->
<div class="floating-action-btn">
    <button mat-fab color="accent" (click)="addOxyHospital()">
        <mat-icon>add</mat-icon>
    </button>
</div>