.custom-card {
    width: 100%;
    background-color: whitesmoke;
    margin: 8px 0;
}
.bg-container {
    height: 100%;
    padding: 8px;
}

.tool-menu {
    width: 100%;
    padding: 0 16px;
    display: flex;
}
.tool-menu mat-icon{
    font-size: 24px;
    color: white;
}
.tool-menu button{
    background-color: transparent;
}