<mat-accordion>

    <mat-selection-list #shoes [multiple]="false">
        <mat-list-option routerLink="/" style="font-weight: 400;">Home</mat-list-option>
    </mat-selection-list>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Oxygen Support
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-selection-list #shoes [multiple]="false">
            <mat-list-option routerLink="oxygen/hospital">Hospitals</mat-list-option>
            <mat-list-option routerLink="coming-soon"><span class="cs"></span>Shops</mat-list-option>
            <mat-list-option routerLink="coming-soon"><span class="cs"></span>Misc.</mat-list-option>
        </mat-selection-list>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Hospital Support
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-selection-list #shoes [multiple]="false">
            <mat-list-option routerLink="coming-soon"><span class="cs"></span>Beds</mat-list-option>
            <mat-list-option routerLink="coming-soon"><span class="cs"></span>Misc.</mat-list-option>
        </mat-selection-list>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Medicine Support
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-selection-list #shoes [multiple]="false">
            <mat-list-option routerLink="coming-soon"><span class="cs"></span>Remdesivir</mat-list-option>
            <mat-list-option routerLink="coming-soon"><span class="cs"></span>Misc.</mat-list-option>
        </mat-selection-list>
    </mat-expansion-panel>

</mat-accordion>