<!-- <router-outlet></router-outlet> -->

<mat-drawer-container autosize style="min-height:100vh;">
  <mat-drawer #drawer mode="side">
    <p>Auto-resizing sidenav</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
  </mat-drawer>

  <div class="sidenav-content">
    <app-header (newItemEvent)="addItem()"></app-header>
    <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button>
  </div>

</mat-drawer-container>