<br>
<div class="container">

    <h5>
        <strong>Total </strong>
        <small class="text-muted">COVID Cases</small>
    </h5>

    <div class="row">

        <mat-card class="col-xs-6 custom-card">
            <p class="card-head font-weight-bold">WORLD</p>
            <p class="font-weight-light"> <b>Total:</b> {{worldTotalCases}}</p>
            <p class="font-weight-light"> <b>Active:</b> {{worldActiveCases}}</p>
        </mat-card>
        <mat-card class="col-xs-6 custom-card">
            <p class="card-head font-weight-bold">INDIA</p>
            <p class="font-weight-light"> <b>Total:</b> {{indiaTotalCases}}</p>
            <p class="font-weight-light"> <b>Active:</b> {{indiaActiveCases}}</p>
        </mat-card>

    </div>
    <br><br>
    <div class="container-fluid">
        <h4>DISCLAIMER</h4>
        <h5 style="text-align:justify;">
            <small>
                This Web Based Application is intended to help people in need, during this pandemic.
                Please read instructions below.
                <br>
                <ul>
                    <li>Do not disclose your identity to anyone.</li>
                    <li>Share this application with more people to make it work as it runs from feedback provided by
                        other patients.</li>
                    <li>Do not spam or provide misleading information as many patients depend on information provided by
                        you.</li>
                    <li>Information provided in this application may not always be true, so always try to contact
                        hospital before coming to conclusion.</li>
                    <li>This app is in no way intended to replace other traditional methods of information gathering
                        however it can be used to get slight idea about situation.</li>
                    <li>Please Upvote any helpful information, so that others can know about it.</li>
                    <li>Please Downvote any misleading information, so that others can know about it.</li>
                </ul>

            </small>
        </h5>

        <h5 style="text-align:center; color: red; font-size: 12px;">
            <b>This application is still under development and may undergo several changes</b>
        </h5>

    </div>
</div>