<br>
<div class="container">

    <h5>
        <strong>Total </strong>
        <small class="text-muted">COVID Cases</small>
    </h5>

    <div class="row">

        <mat-card class="col-xs-6 custom-card">
            <p class="card-head font-weight-bold">WORLD</p>
            <p class="font-weight-light"> <b>Total:</b> {{worldTotalCases}}</p>
            <p class="font-weight-light"> <b>Active:</b> {{worldActiveCases}}</p>
        </mat-card>
        <mat-card class="col-xs-6 custom-card">
            <p class="card-head font-weight-bold">INDIA</p>
            <p class="font-weight-light"> <b>Total:</b> {{indiaTotalCases}}</p>
            <p class="font-weight-light"> <b>Active:</b> {{indiaActiveCases}}</p>
        </mat-card>

    </div>
</div>